*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
p,
span,
h1,
h2,
h3,
h4,
img,
ul,
li,
main,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
